@model SIA_Universitas.Models.Mstr_Concentration

@{
    ViewBag.Title = "Concentration";
}
<h3>Konsentrasi</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="pull-right">
                    <a href="@Url.Action("Index", new { Department_Id = Model.Department_Id })" title="Batal" class="badge">Batal</a>
                </div>
                <div class="bootstrap-admin-box-title right text-success">
                    <b>Hapus Data</b>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <h4>Apakah Anda yakin akan menghapus data ini?</h4>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Concentration_Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Concentration_Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Concentration_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Concentration_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Concentration_Name_Eng)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Concentration_Name_Eng)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Concentration_Acronym)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Concentration_Acronym)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Order_Id)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Order_Id)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Mstr_Department.Department_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Mstr_Department.Department_Name)
                    </dd>
                    <dt>

                    </dt>

                    <dd>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <button type="submit" name="submit" class="btn btn-danger">
                                    Hapus <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
