@model SI_KEU_MHS_Universitas.Models.Fnc_Course_Cost_Sks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fnc_Course_Cost_Sks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Term_Year_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term_Year_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount_Per_Sks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount_Per_Sks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstr_Class_Program.Class_Prog_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstr_Class_Program.Class_Prog_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstr_Department.Department_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstr_Department.Department_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstr_Entry_Year.Entry_Year_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstr_Entry_Year.Entry_Year_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Course_Cost_Sks_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
