@model IEnumerable<SIA_Universitas.Models.Acd_Offered_Course_Lecturer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMasterHome.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sks_Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acd_Offered_Course.Created_By)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Employee.Nik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sks_Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acd_Offered_Course.Created_By)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Employee.Nik)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Acd_Offered_Course_Lecturer1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.Acd_Offered_Course_Lecturer1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Acd_Offered_Course_Lecturer1 })
        </td>
    </tr>
}

</table>
