@model SI_KEU_MHS_Universitas.Models.Fnc_Cost_Sched_Detail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fnc_Cost_Sched_Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fnc_Cost_Item.Cost_Item_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fnc_Cost_Item.Cost_Item_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fnc_Cost_Sched.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fnc_Cost_Sched.Created_By)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cost_Sched_Detail_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
