@model SIA_Universitas.Models.Acd_Offered_Course

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Acd_Offered_Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Total_Meeting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Meeting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class_Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class_Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acd_Course.Course_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acd_Course.Course_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstr_Class.Class_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstr_Class.Class_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstr_Class_Program.Class_Prog_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstr_Class_Program.Class_Prog_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstr_Department.Department_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstr_Department.Department_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mstr_Term_Year.Term_Year_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mstr_Term_Year.Term_Year_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
