@model SIA_Universitas.Models.Acd_Student_Krs

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Acd_Student_Krs</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Krs_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Student_Id, "Student_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Student_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Student_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Term_Year_Id, "Term_Year_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Term_Year_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Term_Year_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Course_Id, "Course_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Course_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Course_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class_Prog_Id, "Class_Prog_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Class_Prog_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Class_Prog_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class_Id, "Class_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Class_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Class_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sks)
                @Html.ValidationMessageFor(model => model.Sks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nb_Taking, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nb_Taking)
                @Html.ValidationMessageFor(model => model.Nb_Taking)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Krs_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Krs_Date)
                @Html.ValidationMessageFor(model => model.Krs_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Due_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Due_Date)
                @Html.ValidationMessageFor(model => model.Due_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost_Item_Id, "Cost_Item_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cost_Item_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Cost_Item_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Approved, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Approved)
                @Html.ValidationMessageFor(model => model.Is_Approved)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Locked, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Locked)
                @Html.ValidationMessageFor(model => model.Is_Locked)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_By)
                @Html.ValidationMessageFor(model => model.Modified_By)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Date)
                @Html.ValidationMessageFor(model => model.Modified_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Date)
                @Html.ValidationMessageFor(model => model.Created_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Order_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order_Id)
                @Html.ValidationMessageFor(model => model.Order_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_By)
                @Html.ValidationMessageFor(model => model.Created_By)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
