@model SIA_Universitas.Models.Acd_Grade_Letter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acd_Grade_Letter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade_Letter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade_Letter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Grade_Letter_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
