@*@model IEnumerable<SIA_Universitas.Models.Acd_Grade_Letter>*@
@model PagedList.IPagedList<SIA_Universitas.Models.Acd_Grade_Letter>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "GradeLetter";
}

<h3>Nilai Huruf</h3>

<div class="panel panel-default bootstrap-admin-no-table-panel">
    <div class="panel-heading">
        <div class="pull-right">
            <a href="@Url.Action("Create")" class="btn-sm btn-success" style="font-style:italic;font-size:medium"><i class="icon-plus-sign"></i> Tambah data</a>
        </div>
        <div class="bootstrap-admin-box-title right text-success">
            <b>Master Data</b>
        </div>
    </div>
    <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
        <div class="row">
            <div class="pull-right">
                @using (Html.BeginForm("Index", "GradeLetter", FormMethod.Get))
                {
                    <i class="text-success">Jumlah Baris:</i>
                    <div class="form-group">
                        <div class="col-md-5">
                            @Html.TextBox("rowPerPage", ViewBag.rowPerPage as int?, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                }
            </div>
        </div><br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Grade_Letter)
                </th>
                <th><i class="glyphicon glyphicon-cog" style="color:black"></i></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.Grade_Letter)
                    </td>
                    <td align="center" width="20%">
                        <a href="@Url.Action("Edit", new { id = item.Grade_Letter_Id })" title="Ubah" class="btn-xs btn-warning">
                            Edit <i class="glyphicon glyphicon-edit" style="color:white"></i>
                        </a>&nbsp;
                        <a href="@Url.Action("DeleteConfirmed", new { id = item.Grade_Letter_Id })" title="Hapus" class="btn-xs btn-danger confirmation">
                            Hapus <i class="glyphicon glyphicon-trash" style="color:white"></i>
                        </a>
                        @*<a href="@Url.Action("Delete", new { id = item.Grade_Letter_Id })" title="Hapus" class="btn-xs btn-danger">
                            Hapus <i class="glyphicon glyphicon-trash" style="color:white"></i>
                        </a>*@
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { page, currentFilter = ViewBag.currentFilter, rowPerPage = ViewBag.rowPerPage }),
                            new PagedListRenderOptions { DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
    </div>
</div>
@section Scripts{
    <script>
        function sebSweetConfirm(originLink) {
            swal({
                title: 'Anda yakin?',
                text: "Akan menghapus data ini!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, hapus!',
                cancelButtonText: 'Batal',
                //closeOnConfirm: true,
                //closeOnCancel: true
            }).then(function (isConfirm) {
                if (isConfirm) {
                    window.location.href = originLink;
                }
            })
        }

        $('.confirmation').click(function (event) {
            event.preventDefault();
            var originLink = $(this).attr("href");
            sebSweetConfirm(originLink);
        });
    </script>
    @if (ViewBag.berhasilHapus != null)
    {
        <script>

            $(document).ready(function sweet() {
                swal('Selesai!', '@ViewBag.berhasilHapus', 'success');
            });

        </script>

    }
    @if (ViewBag.gagalHapus != null)
    {
        <script>

            $(document).ready(function sweet() {
                swal('Kesalahan!', '@ViewBag.gagalHapus', 'error');
            });

        </script>

    }
}
