@model SIA_Universitas.Models.Acd_Course_Identic

@{
    ViewBag.Title = "CourseIdentic";
    string UrlReferrer = ViewBag.UrlReferrer;
}
<script type='text/javascript' src='~/Scripts/plugins/chosen/chosen.jquery.min.js'></script>

@section Scripts{
    <script>
        function sebSweetConfirm(originLink) {
            swal({
                title: 'Anda yakin?',
                text: "Akan menghapus data ini!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya, hapus!',
                cancelButtonText: 'Batal',
                //closeOnConfirm: true,
                //closeOnCancel: true
            }).then(function (isConfirm) {
                if (isConfirm) {
                    window.location.href = originLink;
                }
            })
        }

        $('.confirmation').click(function (event) {
            event.preventDefault();
            var originLink = $(this).attr("href");
            sebSweetConfirm(originLink);
        });
    </script>
    @if (ViewBag.berhasilHapus != null)
    {
        <script>

            $(document).ready(function sweet() {
                swal('Selesai!', '@ViewBag.berhasilHapus', 'success');
            });

        </script>

    }
    @if (ViewBag.gagalHapus != null)
    {
        <script>

            $(document).ready(function sweet() {
                swal('Kesalahan!', '@ViewBag.gagalHapus', 'error');
            });

        </script>

    }
}

<h3>Mata Kuliah Setara</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="pull-right">
                    <a href="@UrlReferrer" title="Batal"><i class="badge">Batal</i></a>
                </div>
                <div class="bootstrap-admin-box-title right text-success">
                    <b>Ubah Data</b>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
    
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Course_Identic_Id)
                        @Html.Hidden("UrlReferrer", UrlReferrer)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Identic_Name, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Identic_Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Identic_Name)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Mata Kuliah", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.ListBox("Courses", ViewBag.Course_Id as MultiSelectList, new { @class = "chosen-select", data_placeholder = "Pilih Mata Kuliah...", multiple = "multiple", style = "width:750px;", tabindex = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" name="submit" class="btn btn-success">
                                    Simpan <span class="glyphicon glyphicon-floppy-save" style="color:white" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Department_Id, "Department_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model =>model.Department_Id)
                                @Html.ValidationMessageFor(model => model.Department_Id)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Created_By, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Created_By)
                                @Html.ValidationMessageFor(model => model.Created_By)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Created_Date)
                                @Html.ValidationMessageFor(model => model.Created_Date)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Modified_By, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Modified_By)
                                @Html.ValidationMessageFor(model => model.Modified_By)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Modified_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.Hidden("Modified_Date", DateTime.Now)
                                @Html.ValidationMessageFor(model => model.Modified_Date)
                            @*</div>
                        </div>*@
                    </div>
                }
                <table class="table table-striped">
                    <tr>
                        <th>
                            Kode
                        </th>
                        <th>
                            Mata Kuliah
                        </th>
                        <th><i class="glyphicon glyphicon-cog" style="color:black"></i></th>
                    </tr>

                    @foreach (var item in ViewBag.acd_Course_Identic_Detail)
                    {
                        <tr>
                            <td>
                                @item.Acd_Course.Course_Code
                            </td>
                            <td>
                                @item.Acd_Course.NameCode
                            </td>
                            <td align="center" style="white-space:nowrap">
                                <a href="@Url.Action("DeleteCourseConfirmed", new { id = item.Crs_Identic_Dtl_Id, UrlReferrer = UrlReferrer })" title="Hapus" class="btn-xs btn-danger confirmation">
                                    Hapus <i class="glyphicon glyphicon-trash" style="color:white"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </table><br>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <a class="btn btn-default" href="@UrlReferrer" title="Selesai"><i class="icon-ok"></i> Selesai</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': { allow_single_deselect: true },
        '.chosen-select-no-single': { disable_search_threshold: 10 },
        '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
        '.chosen-select-width': { width: "95%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
