@model SIA_Universitas.Models.Acd_Student

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Acd_Student</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Student_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nim)
                @Html.ValidationMessageFor(model => model.Nim)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Register_Id, "Register_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Register_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Register_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Register_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Register_Number)
                @Html.ValidationMessageFor(model => model.Register_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Full_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Full_Name)
                @Html.ValidationMessageFor(model => model.Full_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.First_Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Title)
                @Html.ValidationMessageFor(model => model.First_Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Title)
                @Html.ValidationMessageFor(model => model.Last_Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender_Id, "Gender_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Gender_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Gender_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department_Id, "Department_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Department_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Department_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class_Prog_Id, "Class_Prog_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Class_Prog_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Class_Prog_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Concentration_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Concentration_Id)
                @Html.ValidationMessageFor(model => model.Concentration_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Class_Id, "Class_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Class_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Class_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birth_Place, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birth_Place)
                @Html.ValidationMessageFor(model => model.Birth_Place)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birth_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birth_Date)
                @Html.ValidationMessageFor(model => model.Birth_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birth_Place_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birth_Place_Id)
                @Html.ValidationMessageFor(model => model.Birth_Place_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birth_Country_Id, "Birth_Country_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Birth_Country_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Birth_Country_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Citizenship_Id, "Citizenship_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Citizenship_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Citizenship_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Entry_Period_Id, "Entry_Period_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Entry_Period_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Entry_Period_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Entry_Period_Type_Id, "Entry_Period_Type_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Entry_Period_Type_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Entry_Period_Type_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Entry_Year_Id, "Entry_Year_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Entry_Year_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Entry_Year_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Entry_Term_Id, "Entry_Term_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Entry_Term_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Entry_Term_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Register_Status_Id, "Register_Status_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Register_Status_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Register_Status_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Religion_Id, "Religion_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Religion_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Religion_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marital_Status_Id, "Marital_Status_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Marital_Status_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Marital_Status_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Job_Id, "Job_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Job_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Job_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Blood_Id, "Blood_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Blood_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Blood_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.High_School_Major_Id, "High_School_Major_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("High_School_Major_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.High_School_Major_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nisn, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nisn)
                @Html.ValidationMessageFor(model => model.Nisn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nik, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nik)
                @Html.ValidationMessageFor(model => model.Nik)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status_Id, "Status_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Status_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Registration_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Registration_Date)
                @Html.ValidationMessageFor(model => model.Registration_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Registration_Officer_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Registration_Officer_Id)
                @Html.ValidationMessageFor(model => model.Registration_Officer_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Source_Fund_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Source_Fund_Id)
                @Html.ValidationMessageFor(model => model.Source_Fund_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Read_Quran, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Read_Quran)
                @Html.ValidationMessageFor(model => model.Read_Quran)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Transport, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transport)
                @Html.ValidationMessageFor(model => model.Transport)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo_Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo_Status)
                @Html.ValidationMessageFor(model => model.Photo_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student_Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Student_Password)
                @Html.ValidationMessageFor(model => model.Student_Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parent_Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Parent_Password)
                @Html.ValidationMessageFor(model => model.Parent_Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hobby_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Hobby_Id)
                @Html.ValidationMessageFor(model => model.Hobby_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kebutuhan_Khusus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kebutuhan_Khusus)
                @Html.ValidationMessageFor(model => model.Kebutuhan_Khusus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kk_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kk_Name)
                @Html.ValidationMessageFor(model => model.Kk_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Recieve_Kps, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Recieve_Kps)
                @Html.ValidationMessageFor(model => model.Recieve_Kps)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kps_Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kps_Number)
                @Html.ValidationMessageFor(model => model.Kps_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Completion_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Completion_Date)
                @Html.ValidationMessageFor(model => model.Completion_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Out_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Out_Date)
                @Html.ValidationMessageFor(model => model.Out_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone_Home, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone_Home)
                @Html.ValidationMessageFor(model => model.Phone_Home)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone_Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone_Mobile)
                @Html.ValidationMessageFor(model => model.Phone_Mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email_Corporate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email_Corporate)
                @Html.ValidationMessageFor(model => model.Email_Corporate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email_General, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email_General)
                @Html.ValidationMessageFor(model => model.Email_General)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rfid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rfid)
                @Html.ValidationMessageFor(model => model.Rfid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_By)
                @Html.ValidationMessageFor(model => model.Created_By)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Date)
                @Html.ValidationMessageFor(model => model.Created_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_By)
                @Html.ValidationMessageFor(model => model.Modified_By)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Date)
                @Html.ValidationMessageFor(model => model.Modified_Date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
