@model SIA_Universitas.Models.Acd_Yudisium

@{
    ViewBag.Title = "Yudisium";
    short? Term_Year_Id = ViewBag.currentTermYear;
    short? Department_Id = ViewBag.CurrentDept;
}

@section Scripts{
@Scripts.Render("~/plugins/datePicker")

    <script type="text/javascript">
        $('.panggil_date .input-group.date').datepicker({
            format: "DD, d MM yyyy",
            language: "id",
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: false,
            autoclose: true
        });
    </script>

    <script type="text/javascript">
        function Add()
        {
            document.getElementById("Gpa").value =
                Math.round((
                parseFloat(document.getElementById("Bnk").value) /
                parseFloat(document.getElementById("Sks_Total").value)
                ) * 100
            ) / 100;
        }
    </script>
}
<h3>Yudisium</h3>
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="pull-right">
                    <a class="btn btn-danger" href="@Url.Action("Index", new { Term_Year_Id = Term_Year_Id, Department_Id = Department_Id })"><i class="icon-remove"></i> Batal</a>
                </div>
                <div class="bootstrap-admin-box-title right text-success">
                    <b>Tambah Data</b>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.Label("NIM", new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <input type="text" class="form-control" disabled="disabled" value="@ViewBag.Nim" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Nama", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" disabled="disabled" value="@ViewBag.Name" />
                            </div>
                        </div>

                        <div class="form-group panggil_date">
                            @Html.LabelFor(model => model.Application_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.Application_Date)
                                    @Html.ValidationMessageFor(model => model.Application_Date)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("IPK", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Bnk, new { @class = "form-control", onchange = "Add()" })
                                        @Html.ValidationMessageFor(model => model.Bnk)
                                    </div>

                                    <div class="col-md-1">
                                        /
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Sks_Total, new { @class = "form-control", onchange = "Add()" })
                                        @Html.ValidationMessageFor(model => model.Sks_Total)
                                    </div>
                                    <div class="col-md-1">
                                        =
                                    </div>
                                    <div class="col-md-2">
                                        @Html.TextBoxFor(model => model.Gpa, new { @class = "form-control", disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.Gpa)
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" disabled="disabled" value="@Model.Gpa" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("JUDUL", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-control" readonly="readonly">@ViewBag.judul</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("TITLE", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <textarea class="form-control" readonly="readonly">@ViewBag.judul_Eng</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Dosen Pemb 1", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" disabled="disabled" value="@ViewBag.dosenPemb1" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Dosen Pemb 2", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" disabled="disabled" value="@ViewBag.dosenPemb2" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Tgl Seminar", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" disabled="disabled" value="@ViewBag.tglSeminar" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Tgl Pendadaran", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" disabled="disabled" value="@ViewBag.tglPendadaran" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Transcript_Num, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Transcript_Num, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Transcript_Num)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" name="submit" class="btn btn-success">
                                    <span class="icon-save" style="color:white" aria-hidden="true"></span> Simpan
                                </button>
                            </div>
                        </div>

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Student_Id, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Student_Id)
                                @Html.ValidationMessageFor(model => model.Student_Id)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Term_Year_Id, "Term_Year_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Term_Year_Id)
                                @Html.ValidationMessageFor(model => model.Term_Year_Id)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Sks_Total, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Sks_Total)
                                @Html.ValidationMessageFor(model => model.Sks_Total)
                            </div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Course_Count, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Course_Count)
                                @Html.ValidationMessageFor(model => model.Course_Count)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Bnk, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Bnk)
                                @Html.ValidationMessageFor(model => model.Bnk)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gpa, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Gpa)
                                @Html.ValidationMessageFor(model => model.Gpa)
                            </div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Sk_Num, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Sk_Num)
                                @Html.ValidationMessageFor(model => model.Sk_Num)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Sk_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Sk_Date)
                                @Html.ValidationMessageFor(model => model.Sk_Date)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Yudisium_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Yudisium_Date)
                                @Html.ValidationMessageFor(model => model.Yudisium_Date)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Graduate_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Graduate_Date)
                                @Html.ValidationMessageFor(model => model.Graduate_Date)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Is_Graduated, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Is_Graduated)
                                @Html.ValidationMessageFor(model => model.Is_Graduated)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Graduate_Predicate_Id, "Graduate_Predicate_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Graduate_Predicate_Id)
                                @Html.ValidationMessageFor(model => model.Graduate_Predicate_Id)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Transcript_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Transcript_Date)
                                @Html.ValidationMessageFor(model => model.Transcript_Date)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Department_Functionary, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Department_Functionary)
                                @Html.ValidationMessageFor(model => model.Department_Functionary)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Department_Functionary_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Department_Functionary_Name)
                                @Html.ValidationMessageFor(model => model.Department_Functionary_Name)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Department_Functionary_Nik, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Department_Functionary_Nik)
                                @Html.ValidationMessageFor(model => model.Department_Functionary_Nik)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Faculty_Functionary, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Faculty_Functionary)
                                @Html.ValidationMessageFor(model => model.Faculty_Functionary)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Faculty_Functionary_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Faculty_Functionary_Name)
                                @Html.ValidationMessageFor(model => model.Faculty_Functionary_Name)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Faculty_Functionary_Nik, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Faculty_Functionary_Nik)
                                @Html.ValidationMessageFor(model => model.Faculty_Functionary_Nik)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Description)
                                @Html.ValidationMessageFor(model => model.Description)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Graduation_Period_Id, "Graduation_Period_Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Graduation_Period_Id)
                                @Html.ValidationMessageFor(model => model.Graduation_Period_Id)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Age_Year, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Age_Year)
                                @Html.ValidationMessageFor(model => model.Age_Year)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Age_Month, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Age_Month)
                                @Html.ValidationMessageFor(model => model.Age_Month)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Age_Day, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Age_Day)
                                @Html.ValidationMessageFor(model => model.Age_Day)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Age_Year_Length, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Age_Year_Length)
                                @Html.ValidationMessageFor(model => model.Age_Year_Length)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Age_Day_Length, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Age_Day_Length)
                                @Html.ValidationMessageFor(model => model.Age_Day_Length)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Study_Length_Year, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Study_Length_Year)
                                @Html.ValidationMessageFor(model => model.Study_Length_Year)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Study_Length_Month, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Study_Length_Month)
                                @Html.ValidationMessageFor(model => model.Study_Length_Month)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Study_Length_Day, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Study_Length_Day)
                                @Html.ValidationMessageFor(model => model.Study_Length_Day)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Study_Length_Sum_Year, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Study_Length_Sum_Year)
                                @Html.ValidationMessageFor(model => model.Study_Length_Sum_Year)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Study_Length_Sum_Day, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Study_Length_Sum_Day)
                                @Html.ValidationMessageFor(model => model.Study_Length_Sum_Day)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Study_Smt_Length, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Study_Smt_Length)
                                @Html.ValidationMessageFor(model => model.Study_Smt_Length)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Study_Smt_Off_Length, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Study_Smt_Off_Length)
                                @Html.ValidationMessageFor(model => model.Study_Smt_Off_Length)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Created_By, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Created_By)
                                @Html.ValidationMessageFor(model => model.Created_By)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.Hidden("Created_Date", DateTime.Now)
                                @Html.ValidationMessageFor(model => model.Created_Date)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Modified_By, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Modified_By)
                                @Html.ValidationMessageFor(model => model.Modified_By)
                            @*</div>
                        </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Modified_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Modified_Date)
                                @Html.ValidationMessageFor(model => model.Modified_Date)
                            @*</div>
                         </div>*@

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Order_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">*@
                                @Html.HiddenFor(model => model.Order_Id)
                                @Html.ValidationMessageFor(model => model.Order_Id)
                            @*</div>
                         </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>

