@model SIA_Universitas.Models.Acd_Student_Khs

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Acd_Student_Khs</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Krs_Id, "Krs_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Krs_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Krs_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Student_Id, "Student_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Student_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Student_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Grade_Letter_Id, "Grade_Letter_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Grade_Letter_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Grade_Letter_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Date)
                @Html.ValidationMessageFor(model => model.Modified_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_By)
                @Html.ValidationMessageFor(model => model.Modified_By)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight_Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight_Value)
                @Html.ValidationMessageFor(model => model.Weight_Value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_Required, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_Required)
                @Html.ValidationMessageFor(model => model.Is_Required)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Is_For_Transkrip, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Is_For_Transkrip)
                @Html.ValidationMessageFor(model => model.Is_For_Transkrip)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bnk_Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bnk_Value)
                @Html.ValidationMessageFor(model => model.Bnk_Value)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Date)
                @Html.ValidationMessageFor(model => model.Created_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_By, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_By)
                @Html.ValidationMessageFor(model => model.Created_By)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
