@model SIA_Universitas.Models.Acd_Student_Khs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acd_Student_Khs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Required)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Required)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_For_Transkrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_For_Transkrip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bnk_Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bnk_Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acd_Grade_Letter.Grade_Letter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acd_Grade_Letter.Grade_Letter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acd_Student.Nim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acd_Student.Nim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acd_Student_Krs.Modified_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acd_Student_Krs.Modified_By)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Khs_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
