@model SIA_Universitas.Models.Mstr_Curriculum

@{
    ViewBag.Title = "Curriculum";
}

<h3>Kurikulum Master</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="pull-right">
                    <a href="@Url.Action("Edit", new { id = Model.Curriculum_Id })" class="badge">Ubah Data</a>
                </div>
                <div class="bootstrap-admin-box-title right text-success">
                    <b>Rincian Data</b>
                </div>
            </div>
            <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Curriculum_Code)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Curriculum_Code)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Curriculum_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Curriculum_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Order_Id)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Order_Id)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
</div>
