@model SI_KEU_MHS_Universitas.Models.Fnc_Cost_Regular

@{
    ViewBag.Title = "CostRegNonDPP";
}

<h3>Setting Biaya Registrasi (Non DPP)</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="pull-right">
                        <a onclick="history.go(-1); return false;" href="#" class="badge">Batal</a>
                    </div>
                    <div class="bootstrap-admin-box-title text-success"><b>Ubah Data</b></div>
                </div>
                <div class="bootstrap-admin-panel-content bootstrap-admin-no-table-panel-content collapse in">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Cost_Regular_Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Term_Year_Id, "Th/Smt", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model => model.Mstr_Term_Year.Term_Year_Name)
                                @Html.HiddenFor(model => model.Term_Year_Id)
                                @Html.ValidationMessageFor(model => model.Term_Year_Id)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Department_Id, "Prodi", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model=>model.Mstr_Department.Department_Name)
                                @Html.HiddenFor(model => model.Department_Id)
                                @Html.ValidationMessageFor(model => model.Department_Id)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Class_Prog_Id, "Program Kelas", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model => model.Mstr_Class_Program.Class_Program_Name)
                                @Html.HiddenFor(model => model.Class_Prog_Id)
                                @Html.ValidationMessageFor(model => model.Class_Prog_Id)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Entry_Year_Id, "Angkatan", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model => model.Mstr_Entry_Year.Entry_Year_Name)
                                @Html.HiddenFor(model => model.Entry_Year_Id)
                                @Html.ValidationMessageFor(model => model.Entry_Year_Id)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Entry_Period_Type_Id, "Aturan", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model => model.Mstr_Entry_Period_Type.Entry_Period_Type_Name)
                                @Html.HiddenFor(model => model.Entry_Period_Type_Id)
                                @Html.ValidationMessageFor(model => model.Entry_Period_Type_Id)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cost_Item_Id, "Nama Biaya", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model => model.Fnc_Cost_Item.Cost_Item_Name)
                                @Html.HiddenFor(model => model.Cost_Item_Id)
                                @Html.ValidationMessageFor(model => model.Cost_Item_Id)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @*@Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })*@
                                <input type="text" id="SAmount" name="SAmount" value="@Model.Amount" class="form-control auto" />
                                @Html.Hidden("Amount", 0)
                                @Html.ValidationMessageFor(model => model.Amount)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" name="submit" class="btn btn-success">
                                    Simpan <span class="glyphicon glyphicon-floppy-save" style="color:white" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Created_By, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Created_By, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Created_By, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Created_Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Modified_By, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Modified_By, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Modified_By, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Modified_Date, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Modified_Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Modified_Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
